--extra-index-url https://download.pytorch.org/whl/cpu
django
djangorestframework
django-cors-headers
channels
channels-redis
gunicorn
celery
redis
requests
yfinance
alpaca-py
pandas
numpy
scikit-learn
joblib
xgboost
transformers
torch==2.10.0+cpu
feedparser
textblob
vaderSentiment
gymnasium
finnhub-python
praw
newsapi-python
python-dotenv
prophet
openai
google-generativeai
pandas_ta
psycopg2-binary
reportlab
plotly
